<head>
        <title>Login</title>
        <meta charset=“UTF-8”>
    </head>
    <body>
        <form action="/ingresar" method="POST">
            <input type="text" placeholder="usuario" name="txtusuario" />
            <input type="password" placeholder="contraseña" name="txtpassword" />
            <input type= "submit"  value= "ingresar" name="entrar" />
           
        </form>
        
      
    <form action="/registrar" method="POST">
     <input type= "submit"  value= "registrar" name="registrar" />
     </form>
    </body>