<head>
        <title>Registrar</title>
        <meta charset=“UTF-8”>
    </head>
    
        <form action="/guardarbd" method="POST">
        <table>
            <tr>
                <td>
                <input type="text" placeholder="nombre" name="txtnombre" required />
                 <input type="text" placeholder="apellido" name="txtapellido" required/>
                  </td>
               </tr>
            <tr>
                <td>
                    <input type="text" placeholder="usuario" name="txtusuario" required/>
            <input type="password" placeholder="contraseña" name="txtpassword" required />
                </td>
            </tr>
            <tr>
                <td>
                    <input type= "submit"  value= "registrar" name="registrar" required />   
                </td>
                
            </tr>
             
          </table>   
           
        </form>
        